@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    background-color: #292a36;
}

a {
    -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    font-family: 'Source Code Pro', monospace;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }

#nav {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

#nav a {
    font-family: 'Source Code Pro', monospace;
}

#nav input,
#nav select,
#nav textarea {
    color: #D8D8D8;
}

#nav a:hover {
    color: #62AEEF;
    font-family: 'Source Code Pro', monospace;
}

#nav strong,
#nav b {
    color: #D8D8D8;
}

#nav h1,
#nav h2,
#nav h3,
#nav h4,
#nav h5,
#nav h6 {
    color: #FFFFFF;
}

#nav blockquote {
    border-left-color: #34373E;
}

#nav code {
    background: rgba(222, 222, 222, 0.02);
    border-color: #34373E;
}

#nav hr {
    border-bottom-color: #34373E;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

#nav ul li a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a:hover {
    background-color: rgba(222, 222, 222, 0.05);
}

#nav ul li a.active {
    background-color: #32353C;
    box-shadow: none;
}

#nav ul li a.active:hover {
    color: #98C379;
    box-shadow: none;
}

#nav.alt {
    padding: 0.5em 1em;
    background-color: #1f2029;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10000;
    margin-top: 10px;
    border: 1px solid #1f2029;
    border-radius: 10px;
  }

#nav.alt ul li {
    margin: 0 0.175em;
}

#nav.alt ul li a {
    font-size: 0.9em;
}

@media screen and (max-width: 536px) {

    #nav {
        display: none;
    }

    #nav+#main {
        padding-top: 0;
    }

}

/* Main */

#main {
    background-color: #1f2029;
    padding: 33px;
      padding-top: 33px;
    margin: 14px;
      margin-right: 14px;
      margin-left: 14px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #1f2029;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    position: sticky;
    top: 0;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 73px;
}

#main header {
    margin-bottom: 15px;
    color: #fff;
}

#main .description {
    color: #ffffff;
    max-width: 291px;
}

#main .image img {
    margin: -320px 5px 0 5px;
    float: right;
    border: 5px solid #26262e;
    border-radius: 10px;
}

#main .install-btn a{
    margin-bottom: 37px;
    margin-top: 15px;
    color: #fff;
    background-color: rgba(222, 222, 222, 0.05);
}

#main a {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main a {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

#main .install-btn a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}

#main .install-btn a:hover {
    background-color: rgba(222, 222, 222, 0.05);
    color: #62AEEF;
}